<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="lib/jquery-2.2.2.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body ng-app="myApp">
	<div class="container" ng-controller="MainController">

		<div class="row">
			<div class="col-x2-12">
				<h1>{{ title }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h2>Add a message</h2>
				<div class="form-group">
					<label for="messageInput" class="inputLabel">Message</label>
					<input type="text" class="form-control" id="messageInput" placeholder="Message" ng-model="messageInput">
				</div>
			</div>
		</div>

		<div class="row colors">
			<div class="col-xs-12">
				<p class="color-header">Message color</p>
			</div>
		</div>

		<div class="row colors">
			<div class="col-xs-12">
				<div class="btn-group">
					<button type="button" ng-repeat="color in colors" id={{ color }} class="btn btn-{{ color }}" ng-click="selectMessageColor($index)">{{ color == colors[messageColorIndex] ? "X" : ""}}</button>
				</div>
			</div>
		</div>

		<br />

		<div class="row colors">
			<div class="col-xs-12">
				<p class="color-header">Border color</p>
			</div>
		</div>

		<div class="row colors">
			<div class="col-xs-12">
				<div class="btn-group">
					<button type="button" ng-repeat="color in colors" id={{ color }} class="btn btn-{{ color }}" ng-click="selectBorderColor($index)">{{ color == colors[borderColorIndex] ? "X" : ""}}</button>
				</div>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group">
					<button type="button" class="btn btn-lg btn-primary" ng-click="showTemporaryMessage(messageInput)">Show once</button>
					<button type="button" class="btn btn-lg btn-primary" ng-click="addRecurringMessage(messageInput)">Add to loop</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h2>Looping messages</h2>
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="message in recurringMessages">
							<th>{{ message.message }}</th>
							<th><button type="button" class="btn btn-sm btn-warning" ng-click="removeMessage($index)">X</button></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-danger" ng-click="clearMessages()">Clear all</button>
			</div>
		</div>

	</div>

    <script src="app.js"></script>
    <script src="MainController.js"></script>

</body>

</html>
